.footer {
  margin-top: 24px;
  height: 163px;
  padding: 0 156px;
  background-color: #2e2d2e;
  display: flex;
  justify-content: space-between;
}

.leftFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 23px;
}

.imagesContainer {
  background-color: #424042;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 16px 25px;
}

.infoContainer p {
  color: #fff;
}

.showInfo {
  display: none;
}

.showInfo p {
  color: #fff;
}

.rightFooter {
  width: 30%;
  display: flex;
  align-items: center;
  gap: 120px;
  justify-content: center;
}

.leftLinks,
.rightLinks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.leftLinks h3,
.leftLinks p,
.rightLinks h3,
.rightLinks p {
  color: #fff;
  cursor: pointer;
}



@media only screen and (max-width: 390px) {
  .footer {
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
  }

  .infoContainer {
    display: none;
  }

  .showInfo {
    display: block;
  }

  .showInfo hr {
    color: #424042;
    padding: 0;
    height: 2px;
    margin: 15px 0;
    width: 100%;
  }

  .leftFooter {
    margin-top: 15px;
  }

  .rightFooter {
    gap: 80px;
    width: 100%;
    justify-content: flex-start;
    margin-top: 15px;
  }
}
