.searchContainer {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.titleContainer {
  margin-top: 24px;
}

.titleContainer h1 {
  font-weight: 700;
  color: #fff;
}

.iconContainer {
  position: absolute;
  top: 25%;
  padding-left: 9px;
  cursor: pointer;
}

.inputContainer {
  position: relative;
  width: 99.5%;
}

.inputContainer input {
  width: 100%;
  background-color: #2e2d2e;
  border: none;
  border-radius: 4px;
  height: 36px;
  color: #979797;
  padding-left: 36px;
}

.btnsContainer {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.btnsContainer a {
  text-decoration: none;
  color: #8e8696;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.active {
  color: #e1c1ff !important;
  background-color: #3d2b4f;
}
